.editContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  margin-left: 10rem;
}

.formCard {
  background-color:#dbfdfb9a;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

label {
  font-weight: bold;
  margin-top: 0.5rem;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #2593dc;
    }
}

.save-btn {
  background-color: #2d2ded;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.2rem; 
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  align-self: center; 
  margin-top: 1rem;
  transition: background-color 0.5s ease;
    &:hover {
      background-color: #2593dc;
    }
}