/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #b7e3df;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  